<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <script src="//use.typekit.net/ckw5eed.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag('highlighting') %>
    <%= stylesheet_link_tag('code') %>
    <%= stylesheet_link_tag('layout') %>
  </head>
  <body>
    <header>
      <h3>The Blog of Chris Hoffman</h3>
    </header>
    
    <div id="main" role="main">
      <%= yield %>
    </div>

    <footer>
      <!-- <div class="contact-info"> -->
      <!--   <h2>Me</h2> -->
      <!--   <ul> -->
      <!--     <li class="contact-info-twitter"><a href="https://twitter.com/yarmiganosca"> -->
      <!--   </ul> -->
      <!-- </div> -->
      <div class="tags">
        <h2>Tags</h2>
        <ol>
          <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </ol>
      </div>

      <div class="recent-articles">
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
          <li><span class="date"><%= article.date.strftime('%b %e')%></span> <%= link_to article.title, article %></li>
          <% end %>
        </ol>
      </div>

      <div class="years">
        <h2>By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
          <% end %>
        </ol>
      </div>
    </aside>
  </body>
</html>
